@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá :)</h1>
    <p>Dica: inicie cadastrando entidades... Elas serão necessárias para vc cadastrar os lançamentos</p>
</div>
